#navbar {
    background-color: red;
    padding-top: 20px;
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 1000;
}



header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}




header .container nav div ul {
    display: flex;
    flex-direction: row;
}

header .container nav div ul li{
    list-style: none;
    padding: 10px;
}

header .container nav div ul li a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

header .container nav div ul li a:hover{
    color: blueviolet;
}


main {
    top: 100px;
}


#welcome-section, #projects, #contact{
    background-color: rgb(189, 189, 255);
    padding: 150px 50px;
    height: 100vh;
}


#projects .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects .row .card {
    display: flex;
    max-width: 400px;
    align-items: center;
    padding: 10px;   
}

.card a {
    margin: 10px auto;
}

.img-project  {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-image: url(./img/projeto1.jpg);
    padding: 10px;
}



.social a {
    
}

.social a i {
    padding: 10px;
}